section.section
  .about
    div.about_img
      img(src='../../assets/img/serga.png' alt='serga')
    div.about_desc 
      div.about_text 
        p
          span.text_green Серьга для похудения 
          span активно раздражает энергетические точки и 
          b вызывает в организме рефлекторную реакцию, необходимую для потери веса.  
        ul.about_list
          li.list_item 
            img.list_icon(src='../../assets/img/point.png')
            p.list_title 
              b Сделана из медицинского сплава и 
              span покрыта слоем золота.
          li.list_item 
            img.list_icon(src='../../assets/img/point.png')
            p.list_title 
              b Срок ношения 
              span серьги подбирается специалистом 
              b индивидуально.
          li.list_item 
            img.list_icon(src='../../assets/img/point.png')
            p.list_title 
              span Потеря веса  
              b до 10 кг в месяц.
