section.action
  .section
    .action_main
      .action_left
        div.action_text
          p.action_title Оставьте заявку на участие в БЕСПЛАТНОМ анализе состава массы тела, пока акционные места не закончились!
          p.text_green Результат превзойдёт все ваши ожидания!
          p Воспользуйтесь реальным шансом сменить размер XXL на L!
        div.action_sale  
          div.counter.counter--action
            p.counter_title.counter_title--action 
              b Внимание! 
              span До конца акции осталось:
              div.counter_block.counter_block--action
                div(class='counter_amount')
                  span(class='counter_days') 25
                  p.counter_text дней
                div(class='counter_amount')
                  span(class='counter_hours') 18
                  p.counter_text часов
                div(class='counter_amount')
                  span(class='counter_minutes') 37
                  p.counter_text минут
                div(class='counter_amount')
                  span(class='counter_sec') 49
                  p.counter_text секунд
          div.action_price 
            img(class='action_serga' src='../../assets/img/header-serga.png')     
            img(class='action_special' src='../../assets/img/header-sale.png')   
      .action_right        
        +order          
