footer.footer
  .section
    .footer_text 
      p ООО "ФЕМИЛИ ДЕНТ"
      p 123056, г. Москва, Электрический пер., д. 12, пом. II, ком. 6
      p ОГРН 1127747280473 от 24 декабря 2012 года
      p ИНН 7710929720 КПП 771001001
      p Лицензия ЛО-77-01-007456 от 20 января 2014 года
      a(href='#') Политика конфиденциальности
      br 
      a(href='#') Пользовательское соглашение 
      br
      a(href='#') Согласие на обработку персональных данных 
      p * Количество акционных мест ограничено и может отличаться от указанного в описании акции.
      p Реклама. Не является публичной офертой.
  script(src = "assets/js/scripts.min.js")