section.medicine
  .section
    .medicine_text
      p.medicine_title Противопоказания
      ul.medicine_list
        li 
          span.medicine_item Беременность
        li
          span.medicine_item Лактация
        li
          span.medicine_item Инфекционные и кожно-венерические заболевания
        li
          span.medicine_item Онкология
