section.results 
  div.section 
    div.results_pic 
      img(src='../../assets/img/fat.png' alt='fat')
    div.results_desc 
      div.section_title 
        p Реальный результат и защита здоровья
      ul.results_list 
        li.list_item 
          img.list_icon(src='../../assets/img/point.png')
          p.list_title Состав тела каждого человека уникален. Самый точный способ его определить — биоимпедансный анализ. Он измеряет количество жидкости, клеточной и жировой массы в организме, вычисляет идеальный вес тела, показывает отклонения от нормы.
        li.list_item
          img.list_icon(src='../../assets/img/point.png')
          p.list_title В зависимости от результатов обследования, специалист сделает вывод, какого плана похудения стоит придерживаться, чтобы убрать лишний жир.
        li.list_item
          img.list_icon(src='../../assets/img/point.png')
          p.list_title Серьга для похудения покрыта золотом, потому что это единственный металл, способный активно раздражать энергетические точки человека. Её воздействие изменяет привычный ход обменных процессов, перестраиваеть эндокринную систему, что и способствует безопасному снижению веса.
        li.list_item
          img.list_icon(src='../../assets/img/point.png')
          p.list_title Срок ношения серьги подбирается специалистом индивидуально, в зависимости от веса пациента, количества жировой и костной ткани.