section.reviews
  div.section_title.reviews_title
    p Отзывы наших клиентов
  div.reviews_blocks
    div.reviews_block   
      p.text_green Нина, 48 лет
      p.reviews_text Мне понравился серьезный профессиональный подход. Не давали глупых гарантий. Вес снизила с 97 до 79 кг. И без вреда для здоровья!
    div.reviews_block   
      p.text_green Зинаида, 36 лет
      p.reviews_text Мне понравился серьезный профессиональный подход. Не давали глупых гарантий. Вес снизила с 97 до 79 кг. И без вреда для здоровья!
    div.reviews_block   
      p.text_green Вероника, 29 лет
      p.reviews_text Мне понравился серьезный профессиональный подход. Не давали глупых гарантий. Вес снизила с 97 до 79 кг. И без вреда для здоровья!
