section.services
  .section_title.services_title
    p Что входит в акционную программу
  div.services_blocks
    div.services_block 
      .services_pic 
        img(src='../../assets/img/service1.png')
      .services_desc
        p Анализ состава массы тела на уникальном аппарате «Медасс» 
        span 15 – 20 мин. 
    div.services_block    
      .services_pic 
        img(src='../../assets/img/service2.png')
      .services_desc
        p Консультация лучших специалистов-диетологов Москвы 
        span 15 - 20 мин.
    div.services_block      
      .services_pic 
        img(src='../../assets/img/service3.png')
      .services_desc
        p Установка серьги для похудения и рекомендации по её использованию
        span 15 - 20 мин.  