.action {
  padding: 40px 0;
  background: #fafafa;
  &_main {
    display: flex;
    margin: 0 auto;
  }
  &_sale {
    display: flex;
    margin-top: 90px;
  }
  &_text {
    width: 65%;
    margin: 0 auto;
    color: #77af51;
    text-align: center;
  }
  &_title {
    font-size: 24px;
    font-weight: bold;
  }
  &_price {
    position: relative;
  }
  &_serga {
    position: absolute;
    top: -50px;
    left: -50px;
  }
  &_special {
    position: absolute;
    top: -60px;
    left: 20px;
  }
}
.action_main > .action_left {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .action {
    &_sale {
      margin-top: 10px;
      flex-direction: column;
      align-items: center
    }
    &_price {
      position: initial;
      margin-top: 20px; 
    }
    &_serga, &_special {
      position: initial;
    }
    &_special {
      margin-top: -40%;
      margin-left: 20%;
    }
    &_main {
      align-items: flex-end
    }
  }
}
@media screen and (max-width: 991px) {
  .action {
    &_sale {
      margin-top: 10px;
      flex-direction: column;
      align-items: center
    }
    &_price {
      position: initial
    }
    &_serga, &_special {
      position: initial;
    }
    &_main {
      align-items: center;
      flex-direction: column;
      width: 100%;
    }
    &_serga {
      width: 60%;
      margin-top: 20px;
    }
    &_special {
      width: 100%;
      margin-top: -40%;
    }
  }
  .action_main > .action_right {
    width: 100%
  }
}