.address {
  background: #74aa4f;
  padding: 40px 0;
  &_text {
    text-align: center;
    color: #fff;
    width: 90%;
    margin: 0 auto
  }
  &_title {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 25px 
  }
  &_item {
    font-size: 18px;
  }
}